/* body{
    background-color: tomato;
}
h1{
    text-align: center;
    color: darkred;
}
h2{
    color: antiquewhite;
}
button{
    background-color: darkblue;
    color: white;
}
.cls{
    background-color: black;
    color: white;
} */

.box{
    height: 100px;
    width: 100px;
    text-align: center;
    border: 1px solid black;
    margin: 1px;
    background-color: blueviolet;
    color: burlywood;
}